/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
$mainColor: #999;
header, footer{
background-color: $mainColor; }
.wrapper{
border: 1px solid $mainColor;
}
$width: 960px;
.wrapper{ width: $width;
}
/* math! */
.content{
width: $width * 0.75;
}
nav{
  &>a{
    color: #fff
  }
}
nav{
background-color: #ddd; float: left;
width: 100%;
&>ul{ margin: 0; padding: 0;
&>li{ margin-right: 1%; color: #fff;
&>a{
color: inherit;
&:hover, &:focus{ color: #000;
} }
} }
}